body{
    background-color: #D4B996;
}

div.btn-group{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media (max-width: 800px) {
    .btn-group {
      flex-direction: column;
    }
}
button{
    font-family: 'Gloria Hallelujah', cursive;
    background-color:  #8F6749;
    margin-top: 1cm;
    padding: 15px 32px;
    color: #D4B996;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8F6749;
    font-family: 'Gloria Hallelujah', cursive;

}

li {
    float: right;
}

li a {
    font-size: 20px;
    display: block;
    color:#D4B996;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img.np {
    height:1.8cm;
}

section h1 {
    font-size:80px;
    color: #8F6749;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

section p {
    font-size:25px;
    color: #8F6749;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

div.introduction-info {
    margin-left:1cm;
}
div.introduction-info p2{
    color: #8F6749;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

div.introduction-info h2{
    color: #8F6749;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
}

.founders {
    max-width: 50%;
    height: auto;
    width: auto;
    display: block;
    margin-left:0;
    margin-top:1cm;
    border-radius: 8px;
    height:30%;
    width:20%;
    float:right;
}

.flex-container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:baseline;
    margin-top:2cm;
}

.flex-info {
    font-family: 'Rubik', sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #D4B996;
}

input[type=submit] {
    background-color: #D4B996;
    color: #774c2a;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color :#774c2a;
    color:#D4B996;
}
  
.container {
    margin-top: 10cm;
    border-radius: 5px;
    background-color: #8F6749;
    padding: 20px;
    color:#D4B996;
    font-family: 'Rubik', sans-serif;
    font-size:20px;

}

::placeholder{
    color:#774c2a;
}

.container h{
    color: #D4B996;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}

div.gallery {
    margin: auto;
    margin-top: 2cm;
    border: 5px solid #8F6749;
    width: 1000px;
}
  
div.gallery:hover {
    border: 5px solid#000000;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

div.desc{
    font-family: 'Rubik', sans-serif;
    color:#774c2a;
}